header{
	width:100%;
	height:100%;
	padding:15px 0;
	background-color:#337079;
	text-align: center;
	font-weight:bold;
	float:left;
	margin-top:-10px;
}
footer{
	background-color:#E2F0D9;
	width:100%;
    height:100px;
    padding:15px 0;
    text-align:center;
    position:absolute;
    bottom:0;
}
ul li{
	list-style:none;
	display:inline;
	float:center;
	margin:0 20px;
	font-size:25px
}
a {
	text-decoration:none;
}
.link{
	text-decoration:none;
	float:right;
	margin-right:70px;
	font-size:20px;
}